<h1><%= title %></h1>
<% if (users.length === 0) { %>
<p>No users found for "<%= query %>".</p>
<% } else { %>
<%- include('../partials/userList', { users: users }) %>

<% } %>
<a role="button" href="/">Back to home</a>
